In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Introduccion a la series de datos

In [ ]:
Estudiantes = pd.Series([16,12,19], index=['Ana','Luis','Carlos']) # Creación de una Serie
print(Estudiantes)

Ana       16
Luis      12
Carlos    19
dtype: int64

In [ ]:
Estudiantes['Luis'] # Acceso por etiqueta

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10504\3554966168.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Estudiantes[1]

np.int64(12)

In [ ]:
Estudiantes[1] # Acceso por posición

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10504\4221754821.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Estudiantes[1]

np.int64(12)

In [ ]:
Estudiantes.index # Index(['Ana', 'Luis', 'Carlos'], dtype='object')
Estudiantes.values # array([16, 12, 19], dtype=int64)

array([16, 12, 19])

In [ ]:
Estudiantes.shape #da la cantidad de elementos (3,)

(3,)

## Introduccion a los dataframes

In [ ]:
Estudiantes = pd.DataFrame({'Edad':[16,12,19],
                            'Altura':[1.60,1.70,1.75]}, 
                            index=['Ana','Luis','Carlos']) # Creación de un DataFrame
# Dataframe es una tabla, Serie es una columna
display(Estudiantes) # Muestra el DataFrame en formato tabla
print('hola')

        Edad  Altura
Ana       16    1.60
Luis      12    1.70
Carlos    19    1.75

hola

In [12]:
Estudiantes.dtypes # Muestra los tipos de datos de cada columna

Edad        int64
Altura    float64
dtype: object

In [14]:
Estudiantes.index # Index(['Ana', 'Luis', 'Carlos'], dtype='object')

Index(['Ana', 'Luis', 'Carlos'], dtype='object')

In [15]:
Estudiantes.columns # Index(['Edad', 'Altura'], dtype='object')

Index(['Edad', 'Altura'], dtype='object')

In [16]:
Estudiantes.axes # Muestra los ejes del DataFrame (índices de filas y columnas)

[Index(['Ana', 'Luis', 'Carlos'], dtype='object'),
 Index(['Edad', 'Altura'], dtype='object')]

In [17]:
Estudiantes.values # Muestra los valores del DataFrame como un array de NumPy

array([[16.  ,  1.6 ],
       [12.  ,  1.7 ],
       [19.  ,  1.75]])

## Formas de crear Series y DataFrames

In [18]:
Estudiantes = {'Felipe':14, 'Marta':13, 'Lucia':15}
pd.Series(Estudiantes, index=['Marta','Lucia','Felipe','Ana']) # Creación de una Serie a partir de un diccionario con un índice específico

Marta     13.0
Lucia     15.0
Felipe    14.0
Ana        NaN
dtype: float64

In [19]:
pd.Series(8,index=['a','b','c','d']) # Serie con un valor constante y un índice específico

a    8
b    8
c    8
d    8
dtype: int64

In [22]:
A =np.array([[1,2],[3,4]])
pd.DataFrame(A) # Creación de un DataFrame a partir de un array de NumPy

   0  1
0  1  2
1  3  4

In [23]:
pd.DataFrame(A, index=['Fila1','Fila2'], columns=['Col1','Col2']) # DataFrame con índices y nombres de columnas específicos

       Col1  Col2
Fila1     1     2
Fila2     3     4