In [33]:
import re
import pandas as pd

In [3]:
texto = "Mi número de teléfono es 123-456-7890 y mi correo es ejemplo@dominio.com"

In [4]:
re.search('de', texto)

In [5]:
if re.search('de', texto):
    print("Se encontró la palabra 'de' en el texto.")

Se encontró la palabra 'de' en el texto.

In [6]:
if re.search('manubrio', texto): # Busca la palabra 'manubrio' en el texto
    print("Se encontró la palabra 'manubrio' en el texto.")
else:
    print("No se encontró la palabra 'manubrio' en el texto.")

No se encontró la palabra 'manubrio' en el texto.

In [7]:
re.findall('es', texto) # Encuentra todas las ocurrencias de 'es' en el texto

['es', 'es']

## Limites
\b-limite de palabra  
\B-No es un limite de palabra  
^-inicio de una cadena de texto  
$-Final de una cadena de texto

In [8]:
re.findall('^Mi', texto,re.M) # Busca la palabra 'Mi' al inicio del texto

['Mi']

In [9]:
re.findall('com$', texto,re.M) # Busca la palabra 'com' al final del texto

['com']

In [10]:
re.findall(r'3\b', texto) # Encuentra todas las ocurrencias del dígito '3' en el texto

['3']

## Cuantificadores:
*- 0 o Mas  
+- 1 o mas  
? - 0 o uno  
{3} - numero exacto  
{3,4} - rango de numeros ( Min, max )

In [11]:
Texto2= '''
Ana U123442 S
Pedro U567890 P
Maria U345678 M
'''

In [12]:
re.findall(r'\w+',Texto2) # Encuentra todas las palabras en el texto

['Ana', 'U123442', 'S', 'Pedro', 'U567890', 'P', 'Maria', 'U345678', 'M']

In [13]:
re.findall(r'U\d+',Texto2) # Encuentra todas las ocurrencias de 'U' seguido de dígitos en el texto

['U123442', 'U567890', 'U345678']

## Conjunto de caracteres
[] - caracteres dentro de los brackets  
[^]- caracteres que no estan dentro de los brackets  

## Grupos
() - Grupo  
| - Uno u otro

In [14]:
Texto3 = ''' ruta12: http://www.ejemplo.com
ruta34: https://secure.ejemplo.com
ruta56: ftp://ftp.ejemplo.com'''

In [ ]:
re.findall(r'ruta[1-4]{2}',Texto3) # Encuentra todas las rutas que terminan en números del 1 al 4

['ruta12', 'ruta34']

In [25]:
paginas = re.findall(r'(http|https|ftp)(://)(www\.)?(\w+.com)?',Texto3) # Encuentra todas las URLs en el texto
paginas=[ ''.join(pagina) for pagina in paginas ]
print(paginas)

['http://www.ejemplo.com', 'https://', 'ftp://']

# Importando un archivo de texto

In [31]:
doc = open('archivo.txt','r')
contenido = doc.read()
print(contenido)
doc.close()

Linea1
Linea2
Linea3

In [32]:
re.findall(r'Linea', contenido)

['Linea', 'Linea', 'Linea']

# Regex y pandas, filtrado de datos

In [35]:
dfreg = pd.DataFrame({
    'Nombre': ['Ana', 'Pedro', 'Maria', 'Luis'],
               'Codigo': ['U123442', 'X567890', 'U345678', 'Y987654'],
                'Edad': [28, 34, 29, 40],
                'Abb': [11, 22, 11, 33],
                'Cdd': [12, 54, 67, 23]

})
dfreg = dfreg.set_index('Codigo')
display(dfreg)

        Nombre  Edad  Abb  Cdd
Codigo
U123442    Ana    28   11   12
X567890  Pedro    34   22   54
U345678  Maria    29   11   67
Y987654   Luis    40   33   23

In [36]:
dfreg.filter(items=['Abb', 'Cdd'])

         Abb  Cdd
Codigo
U123442   11   12
X567890   22   54
U345678   11   67
Y987654   33   23

In [37]:
dfreg.filter(like   ='U', axis=0)

        Nombre  Edad  Abb  Cdd
Codigo
U123442    Ana    28   11   12
U345678  Maria    29   11   67